body {
	margin: 0px;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 0%;
	background-color: #F7F7DD;
	height: 100vh;
	font-family: 'Karla', sans-serif;

	background-image: url("https://2000korosh.github.io/background/grid1.png");
    background-repeat: repeat;
}

@font-face { font-family: Delicious; src: url('Delicious-Roman.otf'); } 

div#main {
	width: 100%;
	background-color: #E3F0FF;
	background-color: #E6E6E6;
	height: 95vh;
}

h1 {
	font-family: 'Karla', sans-serif;
	color: #405d27;
	margin-top: 0%;
	margin-bottom: 0%;
}
img#headerimg {
	height: 10%;
	width: 0px;
}
.nav{
    border:1px solid #797900;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    /*text-align:center;
    /*margin-top: 10%;*/
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    font-size: 20px;
    padding:10px;
    color: #808000;
    text-decoration-style: none;
    font-family: 'Karla', sans-serif;
    text-decoration: none;
}

.nav a:hover{
    color: #9E9E00;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container2 {
	position: relative;
    text-align: left;
    width: 40%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    color: #808000;
}

.container3 {
	position: relative;
    text-align: left;
    width: 40%;
    height: 100%;
    margin-left: 5%;
    margin-top: 0%;
    margin-right: 5%;
    color: #808000;
}

.container4 {
	position: relative;
	margin-top: 5%;
	width: 100%;
	height: 30%;
}

.container5 {
	position: relative;
	text-align: center;
	margin-top: 1%;
	width: 100%;
	height: 5%;
	color: #808000;
}

.container6 {
	position: relative;
	margin-top: 5%;
	width: 100%;
	height: 70%;
}

.contacts{
	list-style-type: none;
	padding: 0;
	margin-left: 2%;
}

.footer{
	position: relative;
	background-color: #4d7727;
	height: 2vh;

}

.contacts li{
	padding-bottom: 1%;
}

h3 {
	margin-left: 2%;
}

p {
	margin-left: 2%;
	margin-right: 2%
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown span{
	text-align: center;
	color: #808000;
	padding: 10px;
}

.dropdown span:hover{
	color: #9E9E00;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content:hover {
	display: block; 
}

.dropdown-content-list {
	list-style-type: none;
	padding: 0;
}

.dropdown-content-list li{
	list-style-type: none;
	text-align: center;
	padding-left: 0;
}

.zoom:hover { transform: scale(1.1); }

.zoom2:hover { transform: scale(1.4); }

.zoom2 {
	border: 1px solid #808000;
}